Skip to content
This repository
Search
Pull requests
Issues
Marketplace
Explore
 @mitverma
 Sign out
 Unwatch 1
  Star 0  Fork 0 mitverma/always
 Code  Issues 0  Pull requests 0  Projects 0  Wiki  Insights  Settings
Branch: master Find file Copy pathalways/myApp/.gitignore
db6ad30  on Dec 18, 2017
@mitverma mitverma changes
1 contributor
RawBlameHistory     
35 lines (31 sloc)  425 Bytes
# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

*~
*.sw[mnpcod]
*.log
*.tmp
*.tmp.*
log.txt
*.sublime-project
*.sublime-workspace
.vscode/
npm-debug.log*

.idea/
.sass-cache/
.tmp/
.versions/
coverage/
dist/
node_modules/
tmp/
temp/
hooks/
platforms/
plugins/
plugins/android.json
plugins/ios.json
www/
$RECYCLE.BIN/

.DS_Store
Thumbs.db
UserInterfaceState.xcuserstate
© 2018 GitHub, Inc.
Terms
Privacy
Security
Status
Help
Contact GitHub
API
Training
Shop
Blog
About
